<?xml version="1.0" encoding="UTF-8"?>
  <!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
  <plist version="1.0">
  <dict>
	  <key>patches</key>
	  <array>
		<dict>
			<key>UUID</key>
			<string>16200569-F11B-4A72-BE8C-737BE064D73E</string>
			<key>apiVersion</key>
			<integer>3</integer>
			<key>appIdentifier</key>
			<string>cn.mucang.ios.jiakaobaodianhuoche</string>
			<key>appVersion</key>
			<string>8.0.0</string>
			<key>cloudDescription</key>
			<string>500题库的VIP未开启</string>
			<key>name</key>
			<string>驾考宝典 开启VIP   ✔︎</string>
			<key>switchedOn</key>
			<true/>
			<key>tableViewIndex</key>
			<integer>77</integer>
			<key>units</key>
			<array>
				<dict>
					<key>methodObjc</key>
					<dict>
						<key>className</key>
						<string>JKPracticeKejianVideoCell</string>
						<key>displayName</key>
						<string>-(bool) isVip</string>
						<key>prefix</key>
						<string>-</string>
						<key>selector</key>
						<string>isVip</string>
						<key>typeEncoding</key>
						<string>B16@0:8</string>
					</dict>
					<key>name</key>
					<string>Unit for -(bool) isVip</string>
					<key>overrides</key>
					<array>
						<dict>
							<key>argument</key>
							<integer>0</integer>
							<key>type</key>
							<dict>
								<key>subtype</key>
								<integer>0</integer>
								<key>type</key>
								<integer>6</integer>
							</dict>
							<key>value</key>
							<dict>
								<key>type</key>
								<integer>6</integer>
								<key>value</key>
								<true/>
							</dict>
						</dict>
					</array>
				</dict>
				<dict>
					<key>methodObjc</key>
					<dict>
						<key>className</key>
						<string>JKBDVideoPracticeViewController</string>
						<key>displayName</key>
						<string>-(bool) jkbdVideoPracticePlayViewCanPlay:(id)</string>
						<key>prefix</key>
						<string>-</string>
						<key>selector</key>
						<string>jkbdVideoPracticePlayViewCanPlay:</string>
						<key>typeEncoding</key>
						<string>B24@0:8@16</string>
					</dict>
					<key>name</key>
					<string>Unit for -(bool) jkbdVideoPracticePlayViewCanPlay:(id)</string>
					<key>overrides</key>
					<array>
						<dict>
							<key>argument</key>
							<integer>0</integer>
							<key>type</key>
							<dict>
								<key>subtype</key>
								<integer>0</integer>
								<key>type</key>
								<integer>6</integer>
							</dict>
							<key>value</key>
							<dict>
								<key>type</key>
								<integer>6</integer>
								<key>value</key>
								<true/>
							</dict>
						</dict>
					</array>
				</dict>
				<dict>
					<key>methodObjc</key>
					<dict>
						<key>className</key>
						<string>JKBDVideoPracticeViewController</string>
						<key>displayName</key>
						<string>-(void) setNoWiFiAlert:(id)</string>
						<key>prefix</key>
						<string>-</string>
						<key>selector</key>
						<string>setNoWiFiAlert:</string>
						<key>typeEncoding</key>
						<string>v24@0:8@16</string>
					</dict>
					<key>name</key>
					<string>Unit for -(void) setNoWiFiAlert:(id)</string>
					<key>overrides</key>
					<array>
						<dict>
							<key>argument</key>
							<integer>1</integer>
							<key>type</key>
							<dict>
								<key>subtype</key>
								<integer>0</integer>
								<key>type</key>
								<integer>1</integer>
							</dict>
							<key>value</key>
							<dict>
								<key>type</key>
								<integer>1</integer>
								<key>value</key>
								<string>(FLNULL)</string>
							</dict>
						</dict>
					</array>
				</dict>
				<dict>
					<key>methodObjc</key>
					<dict>
						<key>className</key>
						<string>JKBDVideoPracticeViewController</string>
						<key>displayName</key>
						<string>-(bool) canFreePlay</string>
						<key>prefix</key>
						<string>-</string>
						<key>selector</key>
						<string>canFreePlay</string>
						<key>typeEncoding</key>
						<string>B16@0:8</string>
					</dict>
					<key>name</key>
					<string>Unit for -(bool) canFreePlay</string>
					<key>overrides</key>
					<array>
						<dict>
							<key>argument</key>
							<integer>0</integer>
							<key>type</key>
							<dict>
								<key>subtype</key>
								<integer>0</integer>
								<key>type</key>
								<integer>6</integer>
							</dict>
							<key>value</key>
							<dict>
								<key>type</key>
								<integer>6</integer>
								<key>value</key>
								<true/>
							</dict>
						</dict>
					</array>
				</dict>
				<dict>
					<key>methodObjc</key>
					<dict>
						<key>className</key>
						<string>JKRewardAdvertAlertView</string>
						<key>displayName</key>
						<string>-(void) show</string>
						<key>prefix</key>
						<string>-</string>
						<key>selector</key>
						<string>show</string>
						<key>typeEncoding</key>
						<string>v16@0:8</string>
					</dict>
					<key>name</key>
					<string>Unit for -(void) show</string>
					<key>overrides</key>
					<array/>
				</dict>
			</array>
		
		</dict>
	</array>
</dict>
</plist>